* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  background-color: #fff;
  margin: 0;
}

@media screen and (max-width: 730px) {
  .github-banner {
    display: none;
  }
}
body {
  background-color: rgb(134, 181, 189);
  margin: 0 auto;
}

nsp-snake {
  height: 100vh;
  width: 100vw;
  display: block;
}
.game-container[_ngcontent-c0] {   
  border-radius: 0;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
} 